
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

body {
   font-family: "Inter", sans-serif;
   background-color: white;
}
.slick-slide > div { 
   margin: 0 10px ;
}

/* Fade Up */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* Fade In */
.fade-in {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
}

/* Slide Left */
.slide-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease-out;
}

.slide-left.show {
  opacity: 1;
  transform: translateX(0);
}

/* Slide Right */
.slide-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease-out;
}

.slide-right.show {
  opacity: 1;
  transform: translateX(0);
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

